[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bhargavfly9
[access "refs/for/refs/*"]
	read = group user/bhargavfly9
	push = group user/bhargavfly9
	label-Code-Review = -2..+2 group user/bhargavfly9
	label-Verified = -1..+1 group user/bhargavfly9
	rebase = group user/bhargavfly9
	removeReviewer = group user/bhargavfly9
	submit = group user/bhargavfly9
[access "refs/heads/*"]
	read = group user/bhargavfly9
	create = group user/bhargavfly9
	push = +force group user/bhargavfly9
	pushMerge = group user/bhargavfly9
[access "refs/tags/*"]
	push = group user/bhargavfly9
	push = +force group user/bhargavfly9
